@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 580px) {

    .text-banner {
        padding: 70px;
        margin-top: 30px;
    }

    .text-banner-single {
        font-size: 18px;

    }

}

@media screen and (max-width: 720px) {
    nav.desktop {
        display: none;
    }
}