

@media screen and (max-width: 580px) {

    .text-banner {
        padding: 70px;
        margin-top: 30px;
    }

    .text-banner-single {
        font-size: 18px;

    }

}

@media screen and (max-width: 768px) {
    nav.desktop {
        display: none;
    }


    section.banner {
        width: 100%;
        height: 80vh;              
        background-size: cover;
        background-position: 100px center;
    
    }
}