
@media screen and (max-width: 580px) {
    section.sessao-3 .part-1 {
        width: 100%;
        padding: 40px 0;
    }

    .part-2 {
        width: 100%;
        padding: 40px 0;
    }

    section.sessao-2 img {
        top: 24px;
        margin-top: 20px;
    }


    footer {
        text-align: center;
        line-height: 27px;
    }
    
    footer p:nth-of-type(1) {
        float: none;
    }
    
    footer p:nth-of-type(2) {
        float: none;
    }
}




@media screen and (max-width: 768px) {

    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
        background-image: url(../imagens/capa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    header nav.desktop {
        display: none;
        
    }

    header nav.mobile {
        display: block;
    }

    .chamada-1 {
        max-width: none;
        width: 100%;
        text-align: center;
        /* max-width: 600px; */
        margin: 100px 0;
        float: none;
    }
    
    header div.chamada-1 h2 {
        font-weight: 900;
        color: white;
        font-size: 40px;
        font-weight: normal;
    }
    
    header div.chamada-1 p {
        color: white;
    }



    section.sessao-1 {
        height: auto;
        padding: 40px 3%;
    }

    .texto-sessao-1 {
        text-align: center;
        display: inline-block;
        width: 100%;
        float: none;
        margin-top: 0;
        position: static;
        padding-left: 0;
    }

    .texto-sessao-1 ul {
        display: inline-block;
        margin-top: 20px;

    }

    .texto-sessao-1 ul li {
        float: none;
        text-align: left;
    }

    .button-texto {
        display: inline-block;
    }

    .device-sessao-1 {
        display: none;
    }

    section.sessao-2 h2 {
        padding-top: 40px;
    }

    section.sessao-4 .container {
        float: none;
        text-align: center;
    }

    .form p {
        display: inline-block;
    }

    .map-wraper {
        width: 100%;
        margin-top: 40px;
        padding: 0 4%;
    }

    .map-wraper-3 {
        display: inline-block;
        background-color: green;
        width: 80%;
        max-width: none;
        padding-top: 100%;
        position: relative;
    }
    
    .map-wraper-2 {
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 0;
        height: 100%;
    }

    

    .form {
        width: 100%;
    }
}


@media screen and (max-width: 830px) {

    .chamada-1 {
        max-width: none;
        width: 100%;
        text-align: center;
        /* max-width: 600px; */
        margin: 170px 0;
        float: none;
    }
    
    header div.chamada-1 h2 {
        font-weight: 900;
        color: white;
        font-size: 40px;
        font-weight: normal;
    }
    
    header div.chamada-1 p {
        color: white;
    }

}

