@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* .sidebar {
    width: 300px;
    height: 100%;
    background-color: black;
    float: left;

}

.content {
    float: left;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #777;
} */





/* .box {
    width: calc((100% / 3) + 90px);
    height: 90px;
    background-color: red;
} */

/* VW e VH nao levam em consideração a scrolbar */

 .box {
    width: 100vw;
    height: 100vh;
    background-color: red;
}



.box2 {
    width: 200%;
    height: 10px;
}

