@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    font-size: 32px;
    padding: 8px 20px;
    border: none;
}