@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald',helvetica, sans-serif;
}

html, body {
    height: 100%;

}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* header */

header {
    padding: 20px 2% 35px 2%;
    height: 100px;
}


header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 30px;
}

nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url(../imagens/icon_menu.png);
    display: none;
}

nav.mobile ul {
    z-index: 100;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    font-style: italic;
    border-bottom: 4px solid red;
    list-style-type: none;
    background-color: white;
}

nav.mobile ul li {
    margin-top: 25px; 
    border-bottom: 1px solid black;
}


nav.mobile ul li a {
    color: black;
    text-decoration: none;
    font-size: 23px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-style: italic;
}

header nav.desktop ul a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 0 20px;
}
/* fim header */




/* section banner */

section.banner {
    width: 100%;
    height: calc(100vw - 100px);
    height: 650px;
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

}

.text-banner {
    padding: 100px;
    margin-top: 30px;
}

section.banner .container {
    max-width: 1400px;
}

.text-banner-single {
    width: 314px;
    height: 70px;
    margin-top: 20px;
    color: white;
    padding: 12px 35px;
    font-size: 27px;
    background-image: url(../imagens/box-text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    position: relative;
    left: -17px;
}


.text-banner .text-banner-single:nth-of-type(4) {
    width: 320px;
    height: 70px;
    color: black;
    background-image: url(../imagens/box-white-text.png);
    position: relative;
    left: -30px;
    font-size: 22px;
}
/* fim section banner */





/* section veiculo destaque */

section.veiculo-destaque {
    padding: 90px 2%;
}

.line-titulo {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    max-width: 1000px;
    height: 2px;
    background-color: black;
}

section.veiculo-destaque .line-titulo > h2 {
    position: relative;
    display: inline-block;
    padding: 0px 15px 0 10px;
    font-size: 30px;
    background-color: white;
    font-style: italic;
    text-transform: uppercase;
}


section.veiculo-destaque {
    padding: 90px 2%;
}

section.veiculo-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
}

section.veiculo-destaque .vitrine-destaque {
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img {
    border: 8px solid white;
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}

.vitrine-destaque h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    padding-left: 8px ;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}


.vitrine-destaque a {
    display: block;
    margin-left: 8px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #eb2d2d;
    line-height: 40px;
    text-align: center;
    border-bottom: 3px solid #b21e1e;
}
/* dim section veiculo destaque */
