@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald',helvetica, sans-serif;
}

html, body {
    height: 100%;

}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* header */

header {
    width: 100%;
    padding: 20px 2% 20px 2%;
}


header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 30px;
}

nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url(../imagens/icon_menu.png);
    display: none;
}

nav.mobile ul {
    z-index: 100;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    font-style: italic;
    border-bottom: 4px solid red;
    list-style-type: none;
    background-color: white;
}

nav.mobile ul li {
    margin-top: 25px; 
    border-bottom: 1px solid black;
}


nav.mobile ul li a {
    color: black;
    text-decoration: none;
    font-size: 23px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-style: italic;
}

header nav.desktop ul a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 0 20px;
}
/* fim header */


/* section banner */

section.banner {
    width: 100%;
    height: calc(100vw - 100px);
    height: 650px;
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

}

.text-banner {
    padding: 100px;
}

section.banner .container {
    max-width: 1400px;
}

.text-banner-single {
    width: 314px;
    height: 70px;
    margin-top: 20px;
    color: white;
    padding: 12px 35px;
    font-size: 27px;
    background-image: url(../imagens/box-text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    position: relative;
    left: -17px;
}


.text-banner .text-banner-single:nth-of-type(4) {
    width: 320px;
    height: 70px;
    color: black;
    background-image: url(../imagens/box-white-text.png);
    position: relative;
    left: -30px;
    font-size: 22px;
}
/* fim section banner */





/* section veiculo destaque */

section.veiculo-destaque {
    padding: 90px 2%;
}

.line-titulo {
    max-width: 1200px;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.ln1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    max-width: 1200px;
    height: 2px;
    background-color: black;
}

.line-titulo > h2 {
    position: relative;
    display: inline-block;
    padding: 0px 15px 0 10px;
    font-size: 30px;
    background-color: white;
    font-style: italic;
    text-transform: uppercase;
}


section.veiculo-destaque {
    padding: 90px 2%;
}

section.veiculo-destaque .container {
    max-width: 1200px;
    padding: 40px 0;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img {
    border: 8px solid white;
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}

.vitrine-destaque h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    padding-left: 8px ;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}

a.btn1 {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 400;
    width: 150px;
    height: 45px;
    background-color: #eb2d2d;
    line-height: 40px;
    text-align: center;
    border-bottom: 3px solid #b21e1e;
}


.vitrine-destaque a {
    margin-left: 8px;
    margin-top: 10px;

}
/* fim section veiculo destaque */



section.servicos-descricao {
    display: flex;
}

.half1 {
    width: 50%;
    padding: 90px 10% 90px 0px;
    background-color: #242424;
    color: white;
    text-align: right;
}


.half1-wraper {
    text-align: left;
    display: inline-block;
}

.half1-wraper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}


.half1-wraper ul {
    display: inline-block;
    margin-top: 20px;
}

.half1-wraper li {
    margin-left: 15px;
}

.half1-wraper a {
    position: relative;
    top: -10px;
    display: inline-block;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.half2 {
    width: 50%;
    padding: 90px 6% 90px 6%;
    background-color: rgb(233, 31, 31);
    color: white;

}

.half2 h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .depoimentos-single {
    margin-top: 19px;
}

.depoimentos-single p {
    font-size: 22px;
    width: 100%;
}

.navigation {
    width: 100%;
    max-width: 700px;
    float: left;
    margin-top: 20px;
}

.arrows {
    float: left;
}

.navigation img{
    padding: 0px 20px;
}

.navigation .nome-depoimentos {
    float: right;
    color: #252525;
    font-size: 24px;
}





section.contato {
    padding: 80px 2%;
}



.contato .line-titulo {
    width: 100%;
    max-width: 1200px;
}

section.contato form {
    max-width: 600px;
    margin: 40px auto;
}

section.contato .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 10px;
}

section.contato input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}


section.contato textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
}

section.contato input[type=submit] {
    display: block;
    margin: auto;
    border: none;
    border-bottom: 3px solid #b21e1e;
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    width: 150px;
    height: 45px;
    background-color: #eb2d2d;
    line-height: 40px;
}




/* inicio footer */

footer {
    padding: 40px 2%;
    background-color: #252525;
}

footer nav {
    float: left;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    float: left;
    padding: 0px 35px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-style: italic;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}
/* fim footer */


section.venda {
    min-height: 90%;
    padding: 90px 2%;
}

.sidebar {
    float: left;
    width: 30%;
}

.content-venda {
    margin-top: 40px;
}

.search1 {
    width: 100%;
    padding-right: 30px;
}


.search1 h2{
    font-size: 25px;
    color: black;
    font-weight: normal;
    font-variant-caps: all-petite-caps;
    font-weight: 600;
}

.search1 .barra-preco {
    width: 100%;    
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}


.barra-preco-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, white, #908e8e);
}

.pointer-barra {
    position: absolute;
    top: -5px;
    left: calc(30% - 10px);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, white, #908e8e);
    border: 1px solid black;
    cursor: pointer;
}

.valor-pesquisa {
    margin-top: 30px;

}

.valor-pesquisa p {
    font-style: italic;
    font-weight: 600;
}

.valor-pesquisa p:nth-of-type(1) {
    float: left;
}

.valor-pesquisa p:nth-of-type(2) {
    float: right;
}


.search2 {
    margin-top: 70px;
}

.search2 h2 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
}

.form-venda-wraper {
    margin-top: 10px;
}

.form-venda-wraper input[type=checkbox] {
    display: none;
}

.form-venda-wraper label {
    width: 20px;
    height: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.form-venda-wraper input[type=checkbox]:checked + /* simbolo de mais significa as tags que vem depois e não o filho*/  label div.circle {
    display: block;
}

div.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: none;
}



.form-venda-wraper span {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}

.vitrine-venda {
    float: left;
    width: 70%;
}

.vitrine-venda .vitrine-destaque {
    margin-top: 20px;
}