@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    height: 80vh;
    min-height: 800px;
    padding: 40px 2%;
    background-image: url(../imagens/capa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.logo {
    width: 160px;
    float: left; /* display: inline-block;*/
    height: 60px;
    background-color: #00000067;
}

header nav{
    float: right;

}

header nav.mobile {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../icons/menu-aberto.png);
    background-size: 100% 100%;
    cursor: pointer;

}

nav.mobile:hover ul{
    display: block;
    background-color: rgba(255, 255, 255, 0.494);
}

nav.mobile ul {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70px;
    left: 0;
    padding: 20px 0px;
    
    
}

header nav.mobile ul li {
    border-bottom: 1px solid black;
    transition: 0.5s;
    padding: 10px 0px;

}

header nav.mobile ul li:hover {
    background-color: rgba(255, 255, 255, 0.126);
}

header nav.mobile ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}


header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop li {
    margin: 0 20px;
    float: left;

}

header nav.desktop li a {
    text-decoration: none;
    color: white;
}

.chamada-1 {
    max-width: 600px;
    margin: 200px 200px;
    float: right;
}

.chamada-1 h2 {
    font-weight: 900;
    color: white;
    font-size: 40px;
    font-weight: normal;
}

.chamada-1 p {
    color: white;
}

section.sessao-1 {
    width: 100%;
    background-color: rgb(106, 2, 144);
    padding: 0px 2%;
    height: 400px;
}

section.sessao-1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao-1 {
    width: 50%;
    float: left;
    color: white;
    margin-top: 40px;
    padding-left: 60px;
    position: relative;
    left: 50px;
}

.texto-sessao-1 p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.texto-sessao-1 ul {
    margin-top: 10px;
    font-size: 13px;
    list-style-position: outside;
    padding-left: 15px;
}

.texto-sessao-1 ul li {
    width: 100%;
    float: left;
    line-height: 2.2em;
}

.button-texto {
    font-weight: 800;
    background-color: #ff703d;
    width: 140px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    border-radius: 30px;
}

.button-texto:hover {
    background-color: #f8622c;
}

.device-sessao-1 {
    position: relative;
    top: -70px;
    float: left;
    width: 50%;
    height: calc(100% + 40px);
    background-image: url(../imagens/device.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 





section.sessao-2 {
    padding: 0px 2% 0px 2%;
    background-color: white;
    text-align: center;
}

section.sessao-2 .container {
    max-width: 1000px;
}

section.sessao-2 h2 {
    color: #472663;
    font-weight: 300;
}

section.sessao-2 p {
    text-align: justify;
    display: inline-block;
    margin-top: 30px;
    max-width: 600px;
}

section.sessao-2 img {
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 30px;
}


section.sessao-3 {
    width: 100%;
}

section.sessao-3 .part-1 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: darkmagenta;
}

.wraper-part-1 {
    max-width: 600px;
    float: right;
    padding-right: 30px;
}

.part-1 h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
}

.part-1 p {
    line-height: 30px;
    font-size: 15px;
    margin-top: 10px;
}

.part-2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}

.sobre-autor {
    float: left;
    width: 100%;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor {
    float: left;
    width: 100%;
}

.wraper-titulo-autor {
    float: left;
}

.titulo-autor h2{
    color: #232323;
    padding-right: 20px;
    font-weight: 600;
    font-size: 22px;
}

.titulo-autor p {
    color: #232323;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
}


.titulo-autor .img-autor {
    position: relative;
    top: -4px;
    width: 60%;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}

 .texto-autor {
    float: left;
    margin-top: 10px;
    color: #232323;
}

.texto-autor p {
    font-size: 15px;
    font-weight: 600;
}

.slider-bullets {
    float: left;
    width: 100%;
    margin-top: 16px;
    padding-left: 30px;
}

.slider-bullets span {
    background-color: rgb(130, 130, 130);
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}