

@media screen and (max-width: 510px) {
    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-1, .logo-2 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 760px) {

    .flex-mosaico {
        display: block;
    }

    .item-1-mosaico {
        padding-top: 50%;
        width: 100%;

    }

    .item-2-mosaico {
        width: 100%;
        margin-bottom: 5px;

    }
}

@media screen and (max-width: 960px) {
    .container-backimg {
        width: 100%;
        padding: 40px 0px;
        text-align: center;
        height: auto;
    }

    .content-backimg {
        width: 96%;
        max-width: 400px;
        position: static;
        display: inline-block;
        height: auto;
        
    }
}